; SylkServer  Conference application configuration file

[Conference]

; The following settings are the default used by the software, uncomment them
; only if you want to make changes

; db_uri = sqlite:///var/lib/sylkserver/conference.sqlite

; Table for storing messages history
; history_table = message_history

; Playback the last messages after join a room
; replay_history = 20

; Use MESSAGE for participants that joined a conference room with audio but without MSRP chat
; enable_sip_message = False

; Apache style ACLs, applied to SIP domains or SIP URIs
; https://httpd.apache.org/docs/2.2/mod/mod_authz_host.html#order

; Default policy
; access_policy = allow, deny
; allow = all
; deny = none

; ACLs may also be applied per room (overrides default policy):
; [test@domain.com]
; access_policy = allow, deny
; allow = sip2sip.info, test@domain.com
; deny = all

