; SylkServer Conference application configuration file

[Conference]

; The following settings are the default used by the software, uncomment them
; only if you want to make changes

db_uri = sqlite:///var/lib/sylkserver/conference.sqlite

; Database table name for storing messages history
; history_table = message_history

; Replay last chat messages after joining a room
; replay_history = 20

; Directory for storing files transferred to rooms (a subdirectory for each room will be created)
file_transfer_dir = /var/spool/sylkserver

; File transfer push support. If enabled files will be pushed to all active
; participants after receiving the file
; push_file_transfer = False

; Directory where images used by the Screen Sharing functionality will be stored
screen_sharing_dir = /var/spool/sylkserver/screensharing

; IP address used for serving Screen Sharing HTTP requests, empty string means listen on interface used
; by the default route
; screen_sharing_ip =

; Port where Screen Sharing HTTP server will listen on, set to 0 for random
; screen_sharing_port = 0

; Use HTTPS instead of HTTP
; screen_sharing_use_https = True

; Server certificate for HTTPS connections
; screen_sharing_certificate = /etc/sylkserver/tls/default.crt

; Advertise XMPP support in conference URIs and welcome (text) message
; advertise_xmpp_support = True

; Comma separated list of PSTN numbers to advertise as a conference URI
; pstn_access_numbers =

; Access Lists Default Policy
; Apache-style access lists for the caller using SIP domains or SIP URIs
; https://httpd.apache.org/docs/2.2/mod/mod_authz_host.html#order
;
; access_policy = allow, deny
; allow = all
; deny = none

; Access Lists can be applied per room overriding the Default Policy
;
; [test@domain.com]
; access_policy = allow, deny
; allow = example.com, test@domain.com
; deny = all

