; SylkServer Conference application configuration file

[Conference]

; Replay last chat messages after joining a room
; history_size = 20

; Directory for storing files transferred to rooms (a subdirectory for each
; room will be created)
file_transfer_dir = /var/spool/sylkserver

; File transfer push support. If enabled files will be pushed to all active
; participants after receiving the file
; push_file_transfer = False

; Directory where images used by the Screen Sharing functionality will be stored
screensharing_images_dir = /var/spool/sylkserver/conference/screensharing

; Advertise XMPP support in conference URIs and welcome (text) message
; advertise_xmpp_support = False

; Comma separated list of PSTN numbers to advertise as a conference URI
; pstn_access_numbers =

; URL where the rooms can be joined using a WebRTC browser, the URL may contain
; the $room token which will be replaced by the room URI in user@domain form
; webrtc_gateway_url = https://webrtc.sipthor.net/call/$room

; Automatically verify ZRTP endpoints if the following conditions are met:
;  - The session also has a chat stream with no relay in between
;  - A MSRP message of type application/blink-zrtp-sas is received with the
;    remote SAS
;  - The remote and the local SAS match
; If this setting is set to True, SylkServer will send the ZRTP SAS to the
; connected endpoints via a private chat message
; zrtp_auto_verify = True

; Access Lists Default Policy
; Apache-style access lists for the caller using SIP domains or SIP URIs
; https://httpd.apache.org/docs/2.2/mod/mod_authz_host.html#order
;
; access_policy = allow, deny
; allow = all
; deny = none
;
; Disable music on hold, Default Policy
; disable_music_on_hold = False

; Access Lists can be applied per room overriding the Default Policy
;
; [test@domain.com]
; access_policy = allow, deny
; allow = example.com, test@domain.com
; deny = all
;
; Disable music on hold, can be applied per room overriding the Default Policy
; disable_music_on_hold = False

