; SylkServer configuration file

[Server]

; The following settings are the default used by the software, uncomment
; them only if you want to make changes

; default_application = conference

; Statically map a Request URI to a specific application. In the example
; below, 123 is matched 1st against the domain part, than the username part
; of the Request URI This static mapping can be overwritten by adding
; X-Sylk-App header set to the value of a valid SylkServer application name
; application_map = echo:echo,123:conference,test:ircconference,gmail.com:xmppgateway

; Disable the specified applications
; disabled_applications =

; Directory where extra applications are stored
; extra_applications_dir =

trace_dir = /var/log/sylkserver
; trace_core = False
; trace_sip = False
; trace_msrp = False
; trace_notifications = False

; TLS is used by default for SIP signaling and MSRP media using a
; self-signed certificate.  You may want to use a properly signed X.509
; certificate and configure it below

; The X.509 Certificate Authorities file
ca_file = /etc/sylkserver/tls/ca.crt

; The file containing X.509 certificate and private key in unencrypted format
certificate = /etc/sylkserver/tls/default.crt

; verify_server = False

; Enable Bonjour capabilities for applications
; enable_bonjour = False


[SIP]

; SIP transport settings
; IP address used for SIP signaling and RTP media; an empty string or 'any' means listening on
; the interface used by the default route
; local_ip =

; Ports used for SIP transports, if not set to any value the transport will be disabled
; local_udp_port = 5060
; local_tcp_port = 5060
; local_tls_port = 5061

; If set, all outbound SIP requests will be sent through this SIP proxy
; The proxy address format is: proxy.example.com:5061;transport=tls
; Transport can be udp, tcp or tls, if skipped it is considered udp
; If only the hostname is set, RFC3263 lookups are performed to lookup 
; the outbound proxy server address
; outbound_proxy =

; A comma-separated list of hosts or networks to trust.
; The elements can be an IP address in CIDR format, a
; hostname or an IP address (in the latter 2 a mask of 32
; is assumed), or the special keywords 'any' and 'none'
; (being equivalent to 0.0.0.0/0 and 0.0.0.0/32
; respectively). It defaults to 'any'.
; trusted_peers =

; Toggle ICE support (RFC 5245)
; enable_ice = False


[MSRP]

; MSRP transport settings

; A valid X.509 certificate is required for MSRP to work over TLS.
; TLS is enabled by default, a default TLS certificate is provided with SylkServer.
; use_tls = True


[RTP]

; RTP transport settings

; Allowed codec list, valid values: opus, G722, speex, PCMU, PCMA, iLBC, GSM
; audio_codecs = opus,speex,G722,PCMU,PCMA

; Port range used for RTP
; port_range = 50000:50500

; SRTP valid values: disabled, mandatory, optional
; srtp_encryption = optional

; RTP stream timeout, session will be disconnected after this value
; timeout = 30

; Audio sampling rate
; sample_rate = 32000

