include INSTALL
include LICENSE
include README
include MANIFEST.in

include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/source/format
include debian/*.install
include debian/*.logrotate
include debian/*.service
