recursive-include debian  changelog compat control copyright rules
recursive-include debian  pycompat pyversions
recursive-include debian  *.init *.dirs *.default
recursive-include debian/source format
recursive-include resources/sounds *.wav
recursive-include resources/sounds/moh *.wav
prune debian/tmp
prune debian/sylkserver-*
include INSTALL LICENSE MANIFEST.in *.ini.sample
