recursive-include debian  changelog compat control copyright rules
recursive-include debian  *.init *.service *.install *.logrotate
recursive-include debian/source format
prune debian/tmp
prune debian/sylkserver-*
include INSTALL LICENSE MANIFEST.in *.ini.sample
