; Playback application configuration

[Playback]
; commented values are the defaults

; files_dir = /usr/share/sylkserver/sounds/

; Toggle video support (SylkServer will send a color bar)
; enable_video = False

; Delay for answering sessions
; answer_delay = 1

; Enable replies from Chuck Norris on SIP Message
; enable_chuck_norris_reply = True

; [test@conference.example.com]
; file = test.wav
; enable_videom, answer_delay and enable_chuck_norris_reply can be overridden here

[playback]
file = moh/Cool_Grass_vbr.wav
enable_video = True
answer_delay = 2
enable_chuck_norris_reply = True
