; Playback application configuration

[Playback]
; commented values are the defaults

; files_dir = /usr/share/sylkserver/sounds/

; Toggle video support (SylkServer will send a color bar)
; enable_video = False

; Delay for answering sessions
; answer_delay = 1


; [test@conference.example.com]
; file = test.wav
; enable_video and answer_delay can be overridden here

[playback]
file = moh/Cool_Grass_vbr.wav
enable_video = True
answer_delay = 2
