; SylkServer WebRTC gateway configuration file
;
; For the gateway to work Janus needs to be properly installed and configured,
; please refer to README.webrtc for detailed instructions
;
[General]
; List of allowed web origins. The connection origin (Origin header in the
; HTTP request) will be checked against the list defined here, if the domain
; is no allowed the connection will be refused.
; * (the default) means any
; web_origins = *

; Proxy used for outbound SIP traffic
; outbound_sip_proxy =

; List of allowed SIP domains for managing accounts
; sip_domains = *

; Boolean indicating if the WebSocket messages sent to/from clients should be logged
; to a file
; trace_websocket = False

; WebSocket Ping frames are sent at the configured interval, this helps detect dead
; client connections
; websocket_ping_interval = 120

[Janus]
; URL pointing to the Janus API endpoint (only WebSocket is supported)
; api_url = ws://127.0.0.1:8188

; API secret shared with Janus (must match the value in janus.cfg)
; A random UUID value is recommended, a new value can be generated with
; the following command:
; python -c 'import uuid; print(uuid.uuid4().hex)'
api_secret = 0745f2f74f34451c89343afcdcae5809

; Boolean indicating if the messages between SylkServer and Janus should be logged to
; a file
; trace_janus = False
