; SylkServer WebRTC gateway configuration file
;
; For the gateway to work Janus needs to be properly installed and configured,
; please refer to README.webrtc for detailed instructions
;
[General]
; List of allowed web origins. The connection origin (Origin header in the
; HTTP request) will be checked against the list defined here, if the domain
; is no allowed the connection will be refused.
; * (the default) means any
; web_origins = *

; Proxy used for outbound SIP traffic
; outbound_sip_proxy =

; List of allowed SIP domains for managing accounts
; sip_domains = *

; Boolean indicating if the WebSocket messages sent to/from clients should be
; logged to a file
; trace_client = False

; WebSocket Ping frames are sent at the configured interval, this helps detect
; dead client connections
; websocket_ping_interval = 120

; IP and port for the HTTP management interface
; http_management_interface = 127.0.0.1:20888

; Shared secret for the HTTP management interface (Authorization: THE_KEY)
; http_management_auth_secret =

; Server key for Firebase Cloud Messaging
; firebase_server_key =

[Janus]
; URL pointing to the Janus API endpoint (only WebSocket is supported)
; api_url = ws://127.0.0.1:8188

; API secret shared with Janus (must match the value in janus.cfg)
; A random UUID value is recommended, a new value can be generated with
; the following command:
; python -c 'import uuid; print(uuid.uuid4().hex)'
api_secret = 0745f2f74f34451c89343afcdcae5809

; Boolean indicating if the messages between SylkServer and Janus should be
; logged to a file
; trace_janus = False

; Maximum video bitrate allowed per sender in a room in bits/s. This value is
; applied to any room that doesn't define its own. The value is any integer
; number between 64000 and 4194304. Default value is 4194304 (4Mb/s).
; max_bitrate = 4194304

; The video codec to be used by all participants in a room. This value is
; applied to any room that doesn't define its own.
; Possible values are: h264, vp8 and vp9. Default is vp9.
; video_codec = vp9

; Per room configuration options
; [room1@videoconference.example.com]
; record = True
; access_policy = deny, allow
; deny = all
; allow = domain1.com, test1@example.com, test2@example.com
; max_bitrate = 512000
; video_codec = h264
