; SylkServer XMPP gateway application configuration file

[general]

; Comma-separated list of Internet domains for which this server is
; responsible. Beside this setting, you must also add the xmpp-server records
; into the DNS server responsable for these Internet domains, e.g.:
; _xmpp-server._tcp.example.com.  IN SRV 0 0 5269 sylkserver.example.com.
; At least one domain is required, replace the example below with your own domain:
domains = example.com

; The following settings are the default used by the software, uncomment
; them only if you want to make changes

; Prefix that will be appended to all Internet domains in the above setting,
; which will be used as a Multi User Chat (MUC) component.  Beside this
; setting, you must also add the xmpp-server DNS records into the DNS server
; for the conference domains, e.g.:
; _xmpp-server._tcp.conference.example.com.  IN SRV 0 0 5269 sylkserver.example.com.
; muc_prefix = conference

; IP address used for listening to XMPP connections; empty string or any means listen on interface used
; by the default route
; local_ip =

; local_port = 5269
; transport can be tcp or tls

; transport = tls
; ca_file = /etc/sylkserver/tls/ca.crt
; certificate = /etc/sylkserver/tls/default.crt

; If set to True (default) MSRP will be used to translate XMPP Instant Messaging, else SIP MESSAGE will be used
; Note: XMPP 'normal' messages (not chat messages) are always translated to SIP MESSAGE requests
; use_msrp_for_chat = True

; Is SIP MESSAGE is used, the message body may have a CPIM envelope
; use_cpim = True

; Timeout to terminate a SIP session if no chat traffic was received
; sip_session_timeout = 600

; Enable verbose logging of XMPP stantzas
; trace_xmpp = False

; Log presence activity (can get very verbose)
; log_presence = False

; Log individual SIP messages
; log_messages = False
; log_iscomposing = False

