Source: sylkserver
Section: net
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd, python-all (>= 2.7)
Standards-Version: 3.9.8

Package: sylkserver
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
         lsb-base,
         python-application (>= 1.4.0),
         python-eventlib,
         python-klein,
         python-lxml,
         python-sipsimple (>= 3.0.0),
         python-twisted,
         python-typing
Suggests: libavahi-compat-libdnssd1, python-twisted-words, python-wokkel (>= 0.7.0), sylkserver-webrtc-gateway
Recommends: sylkserver-sounds
Description: Extensible real-time-communications application server
 SylkServer is an application server that can be programmed to perform SIP
 end-point applications and act as a gateway between SIP and XMPP domains.

Package: sylkserver-sounds
Architecture: all
Depends: ${misc:Depends}, sylkserver
Description: Extensible real-time-communications application server sounds
 SylkServer is an application server that can be programmed to perform SIP
 end-point applications and act as a gateway between SIP and XMPP domains.
 .
 This package contains sounds used by SylkServer.

Package: sylkserver-webrtc-gateway
Architecture: all
Depends: ${misc:Depends}, sylkserver, janus (>= 0.1.1), python-autobahn (>= 0.10.3)
Description: Extensible real-time-communications application server WebRTC gateway
 SylkServer is an application server that can be programmed to perform SIP
 end-point applications and act as a gateway between SIP and XMPP domains.
 .
 This is a meta-package containing the dependencies required to run the
 WebRTC gateway application.
