Source: sylkserver
Section: net
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-python, python-all (>= 2.7), rename
Standards-Version: 3.9.8

Package: sylkserver
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
         lsb-base,
         python-application (>= 2.8.0),
         python-autobahn,
         python-eventlib,
         python-klein,
         python-lxml,
         python-sipsimple (>= 3.0.0),
         python-systemd,
         python-twisted,
         python-typing
Suggests: libavahi-compat-libdnssd1, python-wokkel, sylkserver-webrtc-gateway
Recommends: sylkserver-sounds
Description: Extensible real-time-communications application server
 SylkServer is a SIP applications server that provides applications like
 echo, playback and conference, as well as act as a gateway between SIP
 and IRC, XMPP and WEBRTC.

Package: sylkserver-sounds
Architecture: all
Depends: ${misc:Depends}
Description: Extensible real-time-communications application server sounds
 SylkServer is a SIP applications server that provides applications like
 echo, playback and conference, as well as act as a gateway between SIP
 and IRC, XMPP and WEBRTC.
 .
 This package contains sounds used by SylkServer.

Package: sylkserver-webrtc-gateway
Architecture: all
Depends: ${misc:Depends}, sylkserver, janus
Description: Extensible real-time-communications application server WebRTC gateway
 SylkServer is a SIP applications server that provides applications like
 echo, playback and conference, as well as act as a gateway between SIP
 and IRC, XMPP and WEBRTC.
 .
 This is a meta-package containing the dependencies required to run the
 WebRTC gateway application.
