#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh  $@ --with python2

override_dh_clean:
	dh_clean
	rm -rf build dist MANIFEST

override_dh_install:
	install -m 0644 config.ini.sample debian/sylkserver/etc/sylkserver/config.ini
	install -m 0644 conference.ini.sample debian/sylkserver/etc/sylkserver/conference.ini
	install -m 0600 tls/ca.crt debian/sylkserver/etc/sylkserver/tls/ca.crt
	install -m 0600 tls/default.crt debian/sylkserver/etc/sylkserver/tls/default.crt
	dh_install

override_dh_installinit:
	dh_installinit --no-start

.PHONY: override_dh_clean override_dh_install override_dh_installinit
