[Unit]
Description=SylkServer RTC application server
After=network.target

[Service]
# Disable i/o buffering on Python
Environment=PYTHONUNBUFFERED=yes
Type=simple
ExecStart=/usr/bin/sylk-server --no-fork
Restart=on-abnormal
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
