[Unit]
Description=SylkServer RTC application server
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=yes
ExecStart=/usr/bin/sylk-server --systemd
Restart=on-abnormal
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
